button {outline: #fff;}
.custom{color: #fff; outline: #fff; display: inline-block;}
.carousel-item img{ height: 92vh;}
.service{padding: 100px 0px; background-color: #d8d6d66c;}
.margin{margin: 100px 0px;}